
.review{
   
    font-weight: 700;
    color: tomato;
}
.clipbboard{
    margin-right: 5px;
    color: green;
}
#counter{
    color: rebeccapurple;
    font-weight: 700;
}
#grand{
    margin-top: 5px;
    color: rebeccapurple;
    font-size: 18px;
    font-weight: 700;
}
.counter{
   color: orangered;
    box-shadow: 5px 5px 10px gray; 
    padding: 2px;
}
.grand{
    color: orangered;
    box-shadow: 5px 5px 10px gray; 
    padding: 2px;  
}
.buttonn{
    margin-left: 20px;
    width: 250px;
    padding: 5px;
   background-color:rebeccapurple;
   color: skyblue;
   border: none;
   border-radius: 7px;
   transition: 1s;
   font-weight: 500;
   cursor: pointer;
 }
 .buttonn:hover{
    color:white;
    font-weight: 500;
    background-image: linear-gradient(to right, yellowgreen, green);
 }
 .thumbs{
     color: skyblue;
     margin-right: 5px;
 }
 .salary-lish{
     display: flex;
     border-bottom: 1px solid lightgray;
 }
 .players-name{
     width: 50%;
     text-align: center;
     padding: 5px;
     color: rebeccapurple;
     font-weight: 700;   
 }
 .players-salary{
     margin-left: 60px;
     color: rebeccapurple;
     font-weight: 700;
 }
 .added-players li{
    list-style: none;
 }
 #name{
   color: purple;
   font-weight: 500;
 }
 #salary{
     margin-left: 60px;
    
 }