
.review{
    margin-left: 40px;
    font-weight: 700;
    color: tomato;
}
.clipbboard{
    margin-right: 5px;
    color: green;
}
#counter{
    color: rebeccapurple;
    font-weight: 700;
}
#grand{
    margin-top: 5px;
    color: rebeccapurple;
    font-size: 18px;
    font-weight: 700;
}
.counter{
    margin-left: 4px;
    color: orangered;
    box-shadow: 5px 5px 10px gray; 
    padding: 2px;
}
.grand{
    margin-left: 4px;
    color: orangered;
    box-shadow: 5px 5px 10px gray; 
    padding: 2px;
}
.buttonn{
    margin-left: 40px;
    width: 250px;
    padding: 5px;
   background-color:rebeccapurple;
   color: skyblue;
   border: none;
   border-radius: 5px;
   transition: 1s;
   font-weight: 500;
   cursor: pointer;
 }
 .buttonn:hover{
    color:white;
    font-weight: 500;
    background-image: linear-gradient(to right, yellowgreen, green);
 }
 .thumbs{
     color: skyblue;
     margin-right: 5px;
 }