

 .player-profile{
    width: 300px;
    height: 440px;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 8px;
         
}
.player-image img{
   width: 40%;
   margin-left: 50px;
}
.player-details{
   text-align: justify;
}
.salary{
   color:rebeccapurple;
   background-color: lightgray;
   text-align: center;
   font-weight: 700;
}
.value{
   font-size: 20px;
   color: tomato;
}
.name{
   color: tomato;
   font-weight: 900;
   
}
.star{
   color: goldenrod;
}
.star-half{
   color:goldenrod
}
.font-icon{
   margin-right: 5px;
   color: rebeccapurple;
}
.player-info{
   display: flex;
}
.info-left{
   width: 170px;
   border-right: 1px solid lightgrey;
   padding: 5px;
}
.info-right{
   margin-left: 10px;
}
.button{
  margin-left: 40px;
  width: 220px;
  padding: 4px;
  background-color:orange;
  border: 1px solid orange;
  border-radius: 8px;
  transition: 1s;
  font-weight: 500;
  cursor: pointer;
}
.button:hover{
   color:white;
   font-weight: 500;
   background-image: linear-gradient(to right, yellowgreen, green);
}