


 .player-profile{
    width: 280px;
    height: 430px;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 8px;
    text-align: center;
       
}
.player-profile img{
   width: 50%;
}
.name{
   color: Indigo;
   font-weight: 700;
}